/* #region Start Global Rules */
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
:root {
  --main-color: #333;
  --second-color: #fa694e;
  --transition-duration: 0.3s;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
}
ul {
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
/* #endregion End Global Rules */
/* #region Start Components */
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1140px;
  }
}
.scroll-top {
  width: 40px;
  height: 40px;
  position: fixed;
  background-color: var(--second-color);
  color: white;
  right: 30px;
  bottom: 40px;
  z-index: 99;
  display: none;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  user-select: none;
  transition-duration: var(--transition-duration);
  opacity: 0;
}
.scroll-top:hover {
  background-color: #d54930;
}
.scroll-top.show {
  opacity: 1;
}
@media (max-width: 768px) {
  .scroll-top {
    width: 30px;
    height: 30px;
    font-size: 12px;
  }
}
/* #endregion End Components */
/* #region Start Header */
header {
  width: 100%;
  position: absolute;
  height: 75px;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  overflow: hidden;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 2px;
}
header .logo {
  height: 75px;
  display: flex;
  align-items: center;
}
header .logo img {
  width: 50px;
  border-radius: 50%;
  user-select: none;
}
header .link-menu {
  display: none;
  height: 50px;
  width: 50px;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  transition-duration: var(--transition-duration);
}
header .link-menu:hover {
  background-color: #5a5a5a;
}
header .link-menu.show {
  display: flex;
}
header .link-menu i {
  font-size: 26px;
  color: white;
  cursor: pointer;
}
body > .links {
  user-select: none;
  height: 100vh;
  width: 500px;
  opacity: 0;
  background-color: var(--main-color);
  position: fixed;
  right: -500px;
  top: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition-duration: var(--transition-duration);
  border-left: 1px solid #545454;
  box-shadow: 0px 0px 1px #DDD;
}
body > .links.show {
  right: 0px;
  opacity: 1;
  z-index: 2;
}
body > .links .close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  cursor: pointer;
  transition-duration: var(--transition-duration);
}
body > .links .close:hover {
  background-color: #5a5a5a;
}
body > .links .close i {
  color: white;
  font-size: 20px;
}
body > .links .links-logo img {
  width: 100px;
  border-radius: 50%;
  margin-top: 100px;
  margin-bottom: 50px;
}
body > .links > h2 {
  font-size: 35px;
  color: white;
  text-transform: uppercase;
  position: relative;
  transition-duration: var(--transition-duration);
}
body > .links > h2::before {
  content: attr(data-text-links);
  position: absolute;
  left: 0;
  top: 0;
  width: 0px;
  overflow: hidden;
  -webkit-text-fill-color: var(--second-color);
  transition-duration: var(--transition-duration);
}
body > .links > h2:hover::before {
  width: 100%;
}
body > .links ul {
  text-align: center;
  width: 100%;
}
body > .links ul li a {
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
  display: block;
  padding: 20px;
  border-radius: 5px;
  transition-duration: var(--transition-duration);
}
body > .links ul li a:hover {
  background-color: #5a5a5a;;
}
body > .links .social {
  display: flex;
  gap: 20px;
}
body > .links .social i {
  height: 40px;
  width: 40px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #333;
  transition-duration: var(--transition-duration);
}
body > .links .social a:nth-child(2) i {
  color: #1877f2;
}
body > .links .social a:hover i {
  background-color: black;
  color: white;
}
@media (max-width: 992px) {
  body > .links {
    width: 200px;
  }
  body > .links > h2 {
    font-size: 25px;
  }
  body > .links ul li a {
    font-size: 15px;
  }
  body > .links .links-logo img {
    width: 80px;
  }
  body > .links .social i {
    width: 25px;
    height: 25px;
  }
}
/* #endregion End Header */
/* #region Start Landing */
.landing {
  height: 100vh;
  position: absolute;
  background-image: url("../images/landing.jpg");
  background-size: cover;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
}
.landing::before {
  content: "";
  height: 100%;
  width: 100%;
  background-color: #333333f0;
  position: absolute;
  left: 0;
  top: 0;
}
.landing .container {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.landing .container > h1 {
  user-select: none;
  font-size: 80px;
  text-transform: uppercase;
  -webkit-text-stroke: 0.4px black;
  position: relative;
}
.landing .container > h1::before {
  content: attr(data-text);
  width: 0px;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-text-fill-color: var(--second-color);
  transition-duration: var(--transition-duration);
}
.landing .container > h1:hover:before {
  width: 100%;
}
.landing .container > p {
  line-height: 2;
  text-align: center;
  width: 70%;
  color: #e2e2e2;
}
.landing .container > .get-in-touch a {
  user-select: none;
  background-color: var(--second-color);
  color: rgb(231, 231, 231);
  padding: 5px 10px;
  font-size: 25px;
  border-radius: 5px;
  display: block;
  margin-top: 30px;
  transition-duration: var(--transition-duration);
}
.landing .container > .get-in-touch:hover a {
  background-color:   #d54930;
}
@media (max-width: 768px) {
  .landing .container > h1 {
    font-size: 40px;
  }
  .landing .container > p {
    width: 100%;
  }
}
/* #endregion End Landing */
/* #region Start Services */
.services {
  margin-top: calc(100vh);
  padding-top: 80px;
  padding-bottom: 80px;
} 
.services .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  gap: 30px;
}
.services .container .box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.services .container .box > i {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 40px;
  height: 100px;
  width: 100px;
  border: 1px solid #DDD;
  border-radius: 50%;
  color: var(--second-color);
  cursor: pointer;
  transition-duration: var(--transition-duration);
}
.services .container .box > i:hover {
  background-color: var(--second-color);
  color: white;
}
.services .container .box > i.active {
  color: white;
  background-color: var(--second-color);
}
.services .container .box > h3 {
  font-weight: normal;
}
.services .container .box > p {
  color: #777;
  font-size: 16px;
  line-height: 1.6;
}
@media (max-width: 768px) {
  .services .container {
    flex-direction: column;
  }
}
/* #endregion End Services */
/* #region Start Stories */
.stories {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: #fbfbfb;
}
.stories .container .head {
  text-align: center;
  margin-bottom: 80px;
}
.stories .container .head > h3 {
  font-size: 30px;
  margin-bottom: 10px;
}
.stories .container .head > p {
  color: #777;
}
.stories .container .to-show {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #CCC;
  margin-bottom: 60px;
  height: 350px;
  overflow: hidden;
}
.stories .container .to-show .show-box {
  width: calc(50% - 20px);
}
.stories .container .to-show .info {
  width: calc(50% - 20px);
  height: 350px;
  position: relative;
}
.stories .container .to-show .info h3 {
  font-size: 25px;
  font-weight: normal;
}
.stories .container .to-show .info p {
  color: #777;
  line-height: 1.6;
}
.stories .container .to-show .info .view {
  user-select: none;
  position: absolute;
  bottom: 75px;
}
.stories .container .to-show .info .view a {
  color: white;
  background-color: var(--second-color);
  padding: 10px 20px;
  font-size: 20px;
  display: block;
  border-radius: 5px;
  transition-duration: var(--transition-duration);
}
.stories .container .to-show .info .view a:hover {
  background-color: #d54930;
}
.stories .container .to-show .show-box img {
  max-width: 100%;
}
.stories .container .content {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}
.stories .container .content .project {
  padding: 20px;
  overflow: hidden;
  background-color: white;
  border: 1px solid #ededed;
  border-radius: 5px;
  cursor: pointer;
  transition-duration: var(--transition-duration);
}
.stories .container .content .project:hover {
  background-color: #DDD;
}
.stories .container .content .project.active {
  position: relative;  
}
.stories .container .content .project.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2828287d;
}
.stories .container .content .project img {
  max-width: 100%;
}
@media (max-width: 768px) {
  .stories .container .content {
    grid-template-columns: minmax(300px, 1fr);
  }
  .stories .container .to-show {
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    text-align: center;
  }
  .stories .container .to-show .show-box {
    width: 100%;
  }
  .stories .container .to-show .info {
    width: 100%;
  }
  .stories .container .to-show .info .view {
    left: 50%;
    bottom: 50px;
    transform: translateX(-50%);
  }
  .stories .container .to-show .show-box img {
    padding: 0px !important;
  }
}
@media (max-width: 1200px) {
  .stories .container .to-show .show-box img {
    padding-left: 20px;
  }
}
/* #endregion End Stories */
/* #region Start Contact */
.contact {
  padding-top: 80px;
  padding-bottom: 70px;
}
.contact .container .head {
  text-align: center;
  margin-bottom: 80px;
}
.contact .container .head > h3 {
  font-size: 30px;
  margin-bottom: 10px;
}
.contact .container .head > p {
  color: #777;
}
.contact .location {
  height: 40vh;
  position: relative;
  background-size: cover;
  background-image: url("../images/get-in-touch.png");
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact .location::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(122, 122, 122, 0.397);
}
.contact .location .text {
  user-select: none;
  background-color: #333333f0;
  width: 200px;
  height: 100px;
  color: var(--second-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  border-radius: 6px;
  position: relative;
}
.contact .location .text::before {
  content: "";
  position: absolute;
  bottom: -30px;
  border-color: #333333f0 transparent transparent transparent;
  border-style: solid;
  border-width: 15px;
}
.contact .form-container {
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
  max-width: 100%;
}
.contact .form-container form {
  display: grid;
  grid-template-areas:
  "name email"
  "sub sub"
  "area area"
  "submit submit";
  column-gap: 10px;
  width: 70%;
}
.contact .form-container form input,
.contact .form-container form textarea {
  margin-bottom: 30px;
  height: 50px;
  border: none;
  background-color: #f0f0f0;
  border-radius: 10px;
  padding-left: 20px;
  max-width: 100%;
}
.contact .form-container form input:focus,
.contact .form-container form textarea:focus {
  outline: none;
}
.contact .form-container form input[name="name"] {
  grid-area: name;
}
.contact .form-container form input[type="email"] {
  grid-area: email;
}
.contact .form-container form input[name="subject"] {
  grid-area: sub;
}
.contact .form-container form textarea {
  display: flex;
  align-items: center;
  grid-area: area;
  height: 300px;
  padding-top: 20px;
  resize: none;
}
.contact .form-container form input[type="submit"] {
  user-select: none;
  grid-area: submit;
  color: white;
  background-color: var(--second-color);
  font-size: 26px;
  text-transform: uppercase;
  padding: 0px;
  cursor: pointer;
  transition-duration: var(--transition-duration);
}
.contact .form-container form input[type="submit"]:hover {
  background-color: #d54930 ;
}
.contact .form-container .contact-info {
  flex: 1;
  text-align: center;
}
.contact .form-container .contact-info > div {
  margin-bottom: 30px;
  color: #777;
}
.contact .form-container .contact-info > div > h3 {
  color: black;
}
.contact .form-container .contact-info > div > a {
  color: #777;
  padding: 10px 20px;
  border-radius: 5px;
  transition-duration: var(--transition-duration);
}
.contact .form-container .contact-info > div > a:hover {
  background-color: #ececec;
}
@media (max-width: 768px) {
  .contact .form-container {
    flex-direction: column;
  }
  .contact .form-container form {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .contact .form-container .contact-info {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  .contact .form-container .contact-info h3 {
    font-size: 14px;
  }
  .contact .form-container .contact-info > div {
    font-size: 12px;
  }
}
/* #endregion End Contact */
/* #region Start Footer */
footer {
  user-select: none;
  background-color: var(--main-color);
  height: 100px;
}
footer .container {
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 20px;
}
footer .container .social {
  display: flex;
  gap: 20px;
}
footer .container .social i {
  height: 30px;
  width: 30px;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #333;
  transition-duration: var(--transition-duration);
}
footer .container .social a:nth-child(2) i {
  color: #1877f2;
}
footer .container .social a:hover i {
  background-color: black;
  color: white;
}
@media (max-width: 768px) {
  footer .container .text {
    font-size: 14px;
  }
  footer .container .social i {
    width: 20px;
    height: 20px;
    font-size: 12px;
  }
}
/* #endregion End Footer */